<section id="todoapp">
    <header data-cmp-container="h-cmp" id="header"></header>
    <section data-cmp-container="m-cmp" id="main"></section>
    <footer data-cmp-container="f-cmp" id="footer"></footer>
</section>
<footer id="info">
    <p>Double-click to edit a todo</p>
    <p>Created by <a href="https://github.com/jstrimpel">Jason Strimpel</a> using <a href="#">Snap!</a></p>
    <p>
        View individual components:
        <a href="/header" data-snap-navigate>header</a> |
        <a href="/main" data-snap-navigate>main</a> |
        <a href="/footer" data-snap-navigate>footer</a>
    </p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>