<span id="todo-count"><strong>{{remaining}}</strong> item left</span>
<ul id="filters">
    <li>
        <a class="selected" href="?filter=all" data-lazo-navigate>All</a>
    </li>
    <li>
        <a href="?filter=active" data-lazo-navigate>Active</a>
    </li>
    <li>
        <a href="?filter=completed" data-lazo-navigate>Completed</a>
    </li>
</ul>
<button id="clear-completed">Clear completed ({{completed}})</button>